.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.shark {
  position: sticky;
  top: 0;
  bottom: 1rem;
  align-self: flex-end;
}
